<div class="">
  <table class="calendar-table table-fixed">
    <thead>
      <tr>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'MON' | translate | async }}</th>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'TUE' | translate | async }}</th>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'WED' | translate | async }}</th>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'THU' | translate | async }}</th>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'FRI' | translate | async }}</th>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'SAT' | translate | async }}</th>
        <th class="w-[52px] h-[17px] text-[12px] font-medium leading-[140%] text-primary-color">{{ 'SUN' | translate | async }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of bodyRows; last as isLast; trackBy: trackByBodyRow">
        <tr *ngIf="!isLast || row.isSameMonth">
          <td
            #calendarCell
            *ngFor="let cell of row.dateCells; trackBy: trackByBodyColumn"
            [class.disabled]="cell.isInsideRange ? false : cell.isDisable || cell.isCTD"
            [class.not-allow-checkin]="cell.isInsideRange ? false : cell.isCTA || cell.canNotCheckIn"
            [class.hide]="cell.isHidden"
            [class.hover]="cell.isHover"
            [class.selected]="cell.isSelected"
            [class.today]="cell.isToday"
            (click)="onSelectedDate(cell)"
            (touchstart)="onSelectedDate(cell, true)"
            class="w-[52px] h-[50px] cursor-pointer relative touch-manipulation"
            role="button"
            [ngClass]="{
              '!cursor-not-allowed': cell.isInsideRange ? false : cell.isDisable || cell.isCTD,
              'bg-calendar-hover-background-color !text-calendar-hover-color': !cell.isHidden && (cell?.isHover || cell?.isSelected),
              '!rounded-tl-[8px] !rounded-bl-[8px]': cell?.isCheckIn && !cell.isHidden,
              '!rounded-tr-[8px] !rounded-br-[8px]': cell?.isCheckOut && !cell.isHidden,
              'bg-disabled-color': !cell.isHidden && (cell?.isHover || cell?.isSelected) && (selectedValue?.[0] | dateRangeInvalid: selectedValue?.[1] : calendarDailyRates)
            }"
          >
            <ng-container *ngIf="cell?.isCheckOut && !cell.isHidden">
              <div class="absolute clear-date-range cursor-pointer" (click)="onClearSelectedDate($event)" (touchstart)="onClearSelectedDate($event, true)">
                <mat-icon class="text-[#000]">close</mat-icon>
              </div>
            </ng-container>
            <div
              appDateHover
              [checkInDate]="selectedValue?.[0]"
              [checkOutDate]="selectedValue?.[1]"
              [dateHover]="cell?.value"
              [calendarDailyRates]="calendarDailyRates"
              *ngIf="!cell.isHidden"
              appDateTooltip
              [isDisabled]="cell?.isHidden"
              [numberOfNightsMsg]="!selectedValue[1] ? (selectedValue[0] | renderNumberOfNightsTooltip: cell?.value : 'ddd, MMM DD' : locale | async) : null"
              [restrictionMsg]="cell | renderTooltipMessage: calendarDailyRates : selectedValue[0] : selectedValue[1] : checkInDateInfo | async"
              [showWarning]="!(selectedValue[0] && selectedValue[1])"
              class="flex flex-col items-center justify-center w-full h-full"
              [ngClass]="{
                'rounded-[8px] border overflow-hidden bg-calendar-selected-background-color border-calendar-selected-background-color !text-calendar-selected-color': cell?.isSelected,
                '!border-text-primary-color !bg-disabled-color': cell?.isSelected && (selectedValue?.[0] | dateRangeInvalid: selectedValue?.[1] : calendarDailyRates)
              }"
            >
              <div
                class="text-[14px] font-medium leading-[140%] text-primary-color"
                [ngClass]="{
                  '!text-secondary-color': cell.isInsideRange ? false : cell.isDisable || cell.isCTD || cell.canNotCheckIn,
                  '!text-calendar-selected-color': cell?.isSelected
                }"
              >
                {{ cell.value | date: 'd' }}
              </div>
              <div *ngIf="!cell?.isInsideRange && cell?.canNotCheckIn && !isLoadingPrice" class="flex justify-center">
                <img loading="lazy" [src]="'assets/icons/ctd.svg'" width="24" height="24" appFilterSvg [color]="colorText" />
              </div>
              <div *ngIf="!cell?.isInsideRange && cell?.isCTD && !cell.isSoldOut && !isLoadingPrice" class="flex justify-center">
                <img loading="lazy" [src]="'assets/icons/cta.svg'" width="24" height="24" appFilterSvg [color]="colorText" />
              </div>
              <ng-container *ngIf="isLoadingPrice; else tmplPrice">
                <app-calendar-price-loading></app-calendar-price-loading>
              </ng-container>
              <ng-template #tmplPrice>
                <div
                  class="text-[10px] font-normal leading-[120%] text-primary-color mt-[4px] text-center"
                  *ngIf="(cell?.isInsideRange || !cell?.canNotCheckIn) && !cell.isCTD && !!calendarSetting.includeRate"
                  [ngClass]="{
                    '!text-calendar-selected-color': cell?.isSelected,
                    '!text-secondary-color': cell.isInsideRange ? false : cell.isDisable || cell.isCTD || cell?.canNotCheckIn
                  }"
                >
                  {{
                    cell?.isCheckOut
                      ? ('CHECK_OUT' | translate | async)
                      : cell?.grossPrice !== null
                        ? (cell | renderDailyPrice: lowestPriceStayOption : (isIncludedTax | async) : selectedValue?.[0] : selectedValue?.[1] | currencyRate: currencyRate | number: '1.0')
                        : ''
                  }}
                </div>
                <div *ngIf="cell?.isSoldOut && cell.isDisable && !cell?.isCheckOut" class="flex justify-center">
                  <img loading="lazy" [src]="layoutSetting === 'SQUARE' ? 'assets/icons/sold-out-square.svg' : 'assets/icons/sold-out.svg'" width="44" height="18" />
                </div>
              </ng-template>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
