<div class="h-[470px] bg-skeleton-loading-fill rounded-[16px] px-[16px]">
  <div class="py-[12px]">
    <div class="ln rounded-[8px] w-[80%] h-[40px] mx-auto"></div>
    <div class="ln rounded-[8px] w-[220px] h-[20px] mt-[12px]"></div>
    <div class="flex items-center gap-[16px] mt-[12px]">
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
    </div>
    <div class="flex items-center gap-[16px] mt-[12px]">
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
    </div>
    <div class="flex items-center gap-[16px] mt-[12px]">
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
    </div>
    <div class="flex items-center gap-[16px] mt-[12px]">
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
    </div>

    <div class="flex items-center gap-[16px] mt-[12px]">
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
      <div class="ln rounded-[8px] w-full h-[30px]"></div>
    </div>

    <div class="ln rounded-[8px] w-[160px] h-[40px] mt-[12px]"></div>
    <div class="ln rounded-[8px] w-full h-[80px] mt-[12px]"></div>
  </div>
</div>

<div class="ln rounded-[8px] w-[220px] h-[20px] my-[12px]"></div>

<div class="h-[180px] bg-[#FFFFFF] rounded-[16px] p-[16px] flex flex-col gap-[12px]">
  <div class="ln rounded-[8px] w-full h-[40px]"></div>
  <div class="ln rounded-[8px] w-full h-[40px]"></div>
  <div class="ln rounded-[8px] w-full h-[40px]"></div>
</div>

<div class="flex items-center gap-[8px]">
  <div class="ln rounded-[8px] w-[30px] h-[30px] my-[12px]"></div>
  <div class="ln rounded-[8px] w-[calc(100%-38px)] h-[30px] my-[12px]"></div>
</div>
<div class="flex items-center gap-[8px]">
  <div class="ln rounded-[8px] w-[30px] h-[30px] my-[12px]"></div>
  <div class="ln rounded-[8px] w-[calc(100%-38px)] h-[30px] my-[12px]"></div>
</div>
<div class="flex justify-end w-full">
  <div class="ln rounded-[8px] w-[130px] h-[40px]"></div>
</div>

