<div class="mt-[40px] sm:mx-[16px] md:mx-[20px]">
  <div class="w-full ln rounded-[8px] h-[30px] my-[12px]"></div>
  <div class="w-[120px] ln rounded-[8px] h-[17px] my-[12px]"></div>
  <div class="flex items-center gap-[24px]">
    <ng-container *ngFor="let i of [].constructor(4)">
      <div class="flex-1 h-[224px] bg-popover-background-color shadow-extras rounded-[8px]">
        <div class="flex items-start h-[75%]">
          <div class="w-[60%] px-[16px] pt-[16px]">
            <div class="w-full ln rounded-[8px] h-[17px] mb-[12px]"></div>
            <div class="w-full ln rounded-[8px] h-[40px]"></div>
          </div>
          <div class="w-[40%] h-full ln rounded-tr-[8px] rounded-tl-[8px] rounded-bl-[8px]"></div>
        </div>
        <div class="flex items-center justify-between gap-[16px] pt-[16px] px-[16px] border-t border-border-color">
          <div class="w-[120px] h-[30px] ln rounded-[8px]"></div>
          <div class="w-[120px] h-[30px] ln rounded-[8px]"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="w-[120px] ln rounded-[8px] h-[17px] my-[12px]"></div>
  <div class="flex items-center gap-[24px]">
    <ng-container *ngFor="let i of [].constructor(4)">
      <div class="flex-1 h-[224px] bg-popover-background-color shadow-extras rounded-[8px]">
        <div class="flex items-start h-[75%]">
          <div class="w-[60%] px-[16px] pt-[16px]">
            <div class="w-full ln rounded-[8px] h-[17px] mb-[12px]"></div>
            <div class="w-full ln rounded-[8px] h-[40px]"></div>
          </div>
          <div class="w-[40%] h-full ln rounded-tr-[8px] rounded-tl-[8px] rounded-bl-[8px]"></div>
        </div>
        <div class="flex items-center justify-between gap-[16px] pt-[16px] px-[16px] border-t border-border-color">
          <div class="w-[120px] h-[30px] ln rounded-[8px]"></div>
          <div class="w-[120px] h-[30px] ln rounded-[8px]"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="w-[120px] ln rounded-[8px] h-[17px] my-[12px]"></div>
  <div class="flex items-center gap-[24px]">
    <ng-container *ngFor="let i of [].constructor(4)">
      <div class="flex-1 h-[224px] bg-popover-background-color shadow-extras rounded-[8px]">
        <div class="flex items-start h-[75%]">
          <div class="w-[60%] px-[16px] pt-[16px]">
            <div class="w-full ln rounded-[8px] h-[17px] mb-[12px]"></div>
            <div class="w-full ln rounded-[8px] h-[40px]"></div>
          </div>
          <div class="w-[40%] h-full ln rounded-tr-[8px] rounded-tl-[8px] rounded-bl-[8px]"></div>
        </div>
        <div class="flex items-center justify-between gap-[16px] pt-[16px] px-[16px] border-t border-border-color">
          <div class="w-[120px] h-[30px] ln rounded-[8px]"></div>
          <div class="w-[120px] h-[30px] ln rounded-[8px]"></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
