<div *ngIf="allowDisplayView" id="iseConfiguratorElementMobile" class="w-full">
  <ng-container
    *ngIf="{
      hotelPrimaryColor: hotelPrimaryColor$ | async,
      categoryDefaultText: categoryDefaultText$ | async,
      categoryDefaultBg: categoryDefaultBg$ | async,
      featureDefaultIcon: featureDefaultIcon$ | async,
      featureHoverIcon: featureHoverIcon$ | async,
      buttonTextColor: buttonTextColor$ | async,
      loadWidgetRecommendation: loadWidgetRecommendation$ | async
    } as vm"
  >
    <!-- Selected feature -->
    @if (featureRankings()?.length) {
      <div class="flex items-stretch justify-between h-auto mt-3 overflow-hidden">
        <div class="flex flex-col items-start flex-1 gap-2 pr-0 overflow-x-hidden">
          <div class="font-medium text-[14px] whitespace-nowrap flex items-center justify-between w-full">
            <span class="text-header-color">{{ 'FEATURE_SELECTED' | translate | async }}</span>
            <div class="text-[14px] text-header-color underline whitespace-nowrap cursor-pointer" appOverlayMobile [component]="popUpComponent" (click)="selectCategory()">
              {{ 'CUSTOMIZE' | translate | async }}
            </div>
          </div>

          <div class="flex items-center overflow-hidden">
            <div [ngClass]="{ 'opacity-0 hidden': isFirstSlide() }" class="w-[18px] h-[18px] relative mr-2 slider__prev">
              <div class="inset-0 hexagon">
                <img
                  [color]="vm.hotelPrimaryColor"
                  alt=""
                  appCustomTooltip
                  appFilterSvg
                  class="w-[14px] h-[14px] translate-x-[2px] translate-y-[2px] rotate-180 cursor-pointer"
                  src="assets/icons/keyboard-right.svg"
                />
              </div>
            </div>

            <div [ngClass]="{ 'max-w-[85vw]': isFirstSlide(), 'max-w-[80vw]': !isFirstSlide() }" class="flex-1 relative overflow-x-hidden h-[28px]" #featureSelectedEl>
              <swiper [config]="swiperConfig" #swiper class="w-full h-full" (slideChange)="onSlideChange($event)">
                <ng-container *ngFor="let feat of hotelRetailFeatureList() | filterRetailFeatureSelected: featureSelected()">
                  <ng-template swiperSlide>
                    @if (feat) {
                      <div
                        class="inline-flex items-center text-[12px] text-primary-color bg-configurator-feature-hover-background-color px-2 rounded-[8px] border border-solid border-configurator-feature-default-icon-color"
                      >
                        <span class="mr-2 cursor-pointer whitespace-nowrap" appOverlayMobile (click)="selectCategory()" [component]="popUpComponent">{{ feat.name }}</span>
                        <span class="flex">
                          <mat-icon class="!w-[14px] !h-[14px] text-[14px] cursor-pointer" (click)="removeSelectedFeat(feat.code)">close</mat-icon>
                        </span>
                      </div>
                    }
                  </ng-template>
                </ng-container>
              </swiper>
            </div>

            <div class="w-[18px] h-[18px] relative ml-2 slider__next">
              <div class="inset-0 hexagon">
                <img
                  [color]="vm.hotelPrimaryColor"
                  alt=""
                  appCustomTooltip
                  appFilterSvg
                  class="w-[14px] h-[14px] translate-x-[3px] translate-y-[2px] cursor-pointer"
                  src="assets/icons/keyboard-right.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    } @else {
      @if (eventFeatureRecommendationList() && hotelRetailCategoryList() && hotelRetailFeatureList()) {
        <!-- Features Recommendation -->
        <div class="relative mt-3">
          <!-- tag -->
          <div
            *ngIf="!isDirectLink()"
            class="event-label flex justify-start items-center gap-[4px] mb-[12px] bg-button-normal-background-color pl-6 pr-12 py-1 w-fit rounded-r-[8px] -translate-x-7 drop-shadow-lg"
          >
            <div class="w-[24px] h-[24px] dynamic-color-icon bg-button-normal-color" style="--image-url: url(assets/icons/special.svg)"></div>
            <div class="text-14 text-button-normal-color line-clamp-2 ml-2 lg:text-[12px] font-medium">{{ eventFeatureRecommendationList()?.event }}</div>
          </div>

          @if (!featureRankings()?.length && !isDirectLink()) {
            <div class="grid grid-cols-2 gap-[12px]">
              @if (eventFeatureRecommendationList()?.event && hotelRetailCategoryList()) {
                @for (featureRecommendation of eventFeatureRecommendationList()?.popularRetailFeatureList; track featureRecommendation.id) {
                  <div
                    class="col-span-1 px-4 py-3 rounded-lg cursor-pointer hover:bg-configurator-feature-hover-background-color bg-configurator-category-default-background-color"
                    (click)="addSuggestFeature(featureRecommendation?.code)"
                    appOverlayMobile
                    [component]="popUpComponent"
                  >
                    <div class="flex justify-between mb-[12px] items-start">
                      <app-image-hovering
                        [src]="featureRecommendation?.retailFeatureImageList[0]?.imageUrl"
                        [color]="vm.featureDefaultIcon"
                        [colorHovering]="vm.featureHoverIcon"
                        [defaultClass]="'h-[45.75px] w-[40px] group-hover:!hidden'"
                        [hoveringClass]="'h-[45.75px] w-[40px] group-hover:!block'"
                      />
                      <app-image-hovering
                        [src]="'assets/icons/plus-circle.svg'"
                        [color]="vm.featureDefaultIcon"
                        [colorHovering]="vm.featureHoverIcon"
                        [defaultClass]="'w-[24px] group-hover:!hidden'"
                        [hoveringClass]="'w-[24px] group-hover:!block'"
                      />
                    </div>
                    <div class="text-primary-color line-clamp-1 text-14 leading-[19.6px]">
                      {{ featureRecommendation?.name }}
                    </div>
                  </div>
                }
              }
              <button
                appOverlayMobile
                (click)="selectCategory()"
                [component]="popUpComponent"
                class="col-span-1 bg-configurator-feature-default-background-color group hover:bg-configurator-feature-hover-background-color rounded-lg gap-[8px] flex flex-col items-start px-4 py-3 text-start"
              >
                <span class="text-header-color"> {{ 'FIND_YOUR_MATCH' | translate | async }} </span>
                <a class="underline text-hotel-primary-color">
                  {{ 'SELECT_YOUR_FEATURES' | translate | async }}
                </a>
              </button>
            </div>
          } @else {
            @if (isDirectLink()) {
              <div class="flex items-center justify-start gap-[12px]">
                <img src="assets/icons/star-outline-2.svg" appFilterSvg [color]="vm.hotelPrimaryColor" alt="star.svg" />
                <button appOverlayMobile (click)="selectCategory()" [component]="popUpComponent" class="font-medium text-14 text-primary-color underline">
                  {{ 'PERSONALIZE_YOUR_TRIP' | translate | async }}
                </button>
              </div>
            } @else {
              <div class="flex items-center justify-start gap-[12px]">
                <img src="assets/icons/star-outline-2.svg" appFilterSvg [color]="vm.hotelPrimaryColor" alt="star.svg" />
                <div class="font-medium text-14 text-primary-color">
                  {{ 'PERSONALIZE_YOUR_TRIP' | translate | async }}
                </div>
              </div>

              <div class="mt-[16px] flex items-center justify-between">
                <div class="font-medium text-14 text-primary-color">
                  {{ 'YOUR_SELECTIONS' | translate | async }}
                </div>

                <button appOverlayMobile (click)="selectCategory()" [component]="popUpComponent" class="font-semibold underline cursor-pointer text-primary-color text-14 hover:opacity-80">
                  {{ 'EDIT_MY_SELECTIONS' | translate | async }}
                </button>
              </div>
            }

            @if (hotelRetailFeatureList() | filterRetailFeatureSelected: featureSelected()) {
              <div *ngIf="featureRankings()?.length" class="mt-[16px] grid-cols-1 grid gap-[8px]">
                @for (featureRanking of featureRankings()?.slice(0, 3); track featureRanking) {
                  <div class="col-span-1 border border-hotel-primary-color rounded-[12px] p-[4px] flex justify-start items-center gap-[8px]">
                    <div class="flex items-center justify-center bg-configurator-category-hover-background-color w-[34px] cursor-pointer hover:opacity-80 h-[34px] rounded-[5px]">
                      <img class="h-[18px] w-[16px]" [src]="featureRanking?.category?.iconImageUrl" appFilterSvg [color]="vm.hotelPrimaryColor" [alt]="featureRanking?.category?.name" />
                    </div>

                    <div class="flex-1 line-clamp-2 text-primary-color text-14">
                      @for (feat of featureRanking?.features; track feat; let last = $last) {
                        {{ feat?.name }}
                        @if (!last) {
                          ,&nbsp;
                        }
                      }
                    </div>
                  </div>
                }
                @if (featureRankings()?.length > 3) {
                  <div class="flex justify-end w-full">
                    <span class="font-semibold cursor-pointer text-primary-color text-14 hover:opacity-80" appOverlayMobile (click)="selectCategory()" [component]="popUpComponent">
                      + {{ featureRankings()?.length - 3 }} {{ 'MORE' | translate | async }}
                    </span>
                  </div>
                }
              </div>
            }
          }
        </div>
        <!-- End Features Recommendation -->
      } @else {
        <div class="w-full mt-3">
          <div class="h-8 rounded-[8px] skeleton-ln mb-[12px]"></div>
          <div class="grid grid-cols-2 gap-3">
            @for (item of [].constructor(4); track item) {
              <div class="col-span-1 h-[100px] rounded-[8px] skeleton-ln"></div>
            }
          </div>
        </div>
      }
    }
  </ng-container>
</div>
