:host ::ng-deep {
  mat-slider {
    height: 24px;
    width: 100%;
    margin: 0;

    input {
      height: 24px;
    }

    mat-slider-visual-thumb {
      .mdc-slider__value-indicator-container {

        .mdc-slider__value-indicator {
          border-radius: 32px !important;
          display: flex;
          height: 20px !important;
          padding: 0 8px !important;
          background-color: var(--color-button-normal-background) !important;
          .mdc-slider__value-indicator-text {
            color: var(--color-button-normal-text);
          }
          &::before {
            border-top-color: var(--color-button-normal-background) !important;
          }
        }
      }
    }

    mat-slider-visual-thumb {
      top: -12px;

      ::after {
        //content: '';
        //box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.12), inset 0px 1px 4px rgba(0, 0, 0, 0.12);
        //@apply rounded-full h-[16px] w-[10px] cursor-pointer;
        //background: var(--color-slider-thumb-inactive);
      }

    }

    .mdc-slider__track {
      --mdc-slider-inactive-track-height: 6px;

      .mdc-slider__track--inactive {
        background-color: var(--color-border);
      }

      .mdc-slider__track--active {
        .mdc-slider__track--active_fill {
          --mdc-slider-active-track-color: var(--color-button-normal-background);
        }
      }
    }

    .mdc-slider__thumb-knob {
      background: var(--color-button-normal-text);
      box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.12), inset 0px 1px 4px rgba(0, 0, 0, 0.12);
      width: 10.32px;
      height: 16px;
      border-radius: 100px;
      border-width: 0;
      --mdc-slider-focus-handle-color: var(--color-button-normal-text);
    }
  }
}
