<div class="py-[16px] px-[12px]" [ngClass]="{ 'bg-background-primary-color': toggleFeature }">
  <div class="flex items-center justify-between mb-[4px]">
    <div class="text-[14px] font-medium leading-[140%] text-hotel-primary-color">{{ 'ROOM' | translate | async }} #{{ roomIdx + 1 }}</div>
    <div class="text-[14px] font-medium leading-[140%] text-hotel-primary-color">
      {{ 'FOR' | translate | async }} {{ reservation?.adult }} {{ reservation?.adult > 1 ? ('ADULTS' | translate | async) : ('ADULT' | translate | async)
      }}<span class="text-[14px] font-medium leading-[140%] text-hotel-primary-color" *ngIf="reservation?.childrenAgeList?.length > 0"
        >, {{ reservation?.childrenAgeList?.length }} {{ reservation?.childrenAgeList?.length > 1 ? ('CHILDREN' | translate | async) : ('CHILD' | translate | async) }}</span
      >
    </div>
  </div>
  <div class="flex items-start justify-between">
    <div class="max-w-[70%]">
      <div class="text-[14px] font-medium leading-[140%] text-primary-color" *ngIf="!isLowerPrice || !isLowestPriceOpaque">{{ reservation?.rfc?.name }}</div>
      <div class="text-[14px] font-medium leading-[140%] text-primary-color" *ngIf="isLowerPrice && isLowestPriceOpaque">{{ 'NO_PREFERENCES_OR_FEATURES_GUARANTEED' | translate | async }}</div>
      <app-option-units-info
        [adults]="reservation?.adult"
        [children]="reservation?.childrenAgeList?.length"
        [bedRooms]="reservation?.rfc?.numberOfBedrooms"
        [showSpace]="true"
        [roomKey]="1"
        [space]="reservation?.rfc?.space"
      ></app-option-units-info>
    </div>
    <div class="flex flex-col items-end">
      <div class="flex items-center gap-[4px]" *ngIf="shouldStrikeThrough">
        <div class="text-[12px] font-normal text-secondary-color line-through">{{ (isInclusive ? grossBefore : baseBefore) | myCurrency: currencyCode : 'symbol' : '1.2' }}</div>
        <div class="h-[20px] px-[6px] rounded-[100px] bg-[#C2EAE5] text-[12px] font-normal text-[#00A991] flex items-center justify-center">{{ adjustmentPercentage }}%</div>
      </div>
      <div class="text-[14px] font-medium leading-[140%] text-primary-color">{{ reservation?.totalSellingRate | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2' }}</div>
    </div>
  </div>
  <div class="flex items-center mt-[12px] gap-[8px] relative overflow-hidden">
    <ng-container *ngIf="isLowerPrice && isLowestPriceOpaque">
      <div
        class="bg-no-repeat bg-cover h-[104px] bg-center rounded-[8px] w-[calc(100%/4)] cursor-pointer sm:w-[calc(100%/3)]"
        [ngStyle]="{ 'background-image': lowestPriceImageUrl | parseImageUrl }"
        (click)="openGalleryLowestPrice(lowestPriceImageUrl)"
      ></div>
    </ng-container>
    <ng-container *ngIf="(rfcImageList?.length > 0 && !isLowerPrice) || (isLowerPrice && !isLowestPriceOpaque)">
      <ng-container *ngFor="let image of rfcImageList | slice: 0 : countImage; let i = index; let last = last">
        <div
          class="bg-no-repeat bg-cover h-[104px] bg-center rounded-[8px] w-[calc(100%/4)] cursor-pointer sm:w-[calc(100%/3)]"
          [class.relative]="last"
          [ngStyle]="{ 'background-image': image?.imageUrl | parseImageUrl }"
          (click)="openGallery(i)"
        >
          <div
            class="absolute w-full h-full more-image-count flex items-center justify-center text-[#FFFFFF] text-[20px] font-medium leading-[120%] rounded-[8px]"
            *ngIf="rfcImageList?.length > countImage && last"
          >
            +{{ rfcImageList?.length - countImage }}
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="availableAmenity | getAmenityIconUrl: reservation?.amenityList as amenityImageList">
      <ng-container *ngIf="rfcImageList?.length > countImage ? 1 : maximumAmenity - rfcImageList?.length as amenityDisplayedCount">
        <ng-container *ngFor="let amenity of amenityImageList | slice: 0 : amenityDisplayedCount; let first = first; let last = last">
          <div
            class="amenity-image bg-no-repeat bg-cover h-[104px] bg-center rounded-[8px] w-[calc(100%/4)] cursor-pointer sm:w-[calc(100%/3)]"
            [class.first-amenity]="first"
            [class.relative]="last"
            [ngStyle]="{ 'background-image': amenity?.iconImageUrl | parseImageUrl }"
            (click)="openAmenityGallery(amenityImageList)"
          >
            <div
              class="absolute w-full h-full more-image-count flex items-center justify-center text-[#FFFFFF] text-[20px] font-medium leading-[120%] rounded-[8px]"
              *ngIf="amenityImageList?.length > amenityDisplayedCount && last"
            >
              +{{ amenityImageList?.length - amenityDisplayedCount }}
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="flex items-center justify-between mt-[12px]" *ngIf="!toggleFeature">
    <div
      class="text-[12px] font-normal leading-[24px] line-clamp-1 max-w-[60%] text-button-normal-color bg-button-normal-background-color h-[24px] rounded-[100px] px-[24px] w-fit"
      appCustomTooltip
      [tooltipMessage]="reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name"
      [isDisabled]="reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name?.length < 42"
    >
      {{ reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name }}
    </div>
    <div class="flex items-center gap-[4px] cursor-pointer" (click)="toggleFeature = !toggleFeature">
      <mat-icon class="!w-auto !h-auto text-[18px] text-primary-color">{{ !toggleFeature ? 'expand_more' : 'expand_less' }}</mat-icon>
      <div class="text-[12px] font-light leading-[140%] text-primary-color cursor-pointer">{{ toggleFeature ? ('HIDE_DETAILS' | translate | async) : ('SHOW_DETAILS' | translate | async) }}</div>
    </div>
  </div>

  <mat-expansion-panel [expanded]="toggleFeature" class="expand-room">
    <ng-template matExpansionPanelContent>
      <!-- Guarantee features -->
      <div class="mt-[16px] pt-[16px] border-t border-border-color sm:pt-[12px]">
        <div class="text-[12px] font-medium leading-[140%] text-primary-color mb-[4px]">{{ 'FEATURES_INCLUDED' | translate | async }}</div>
        <ng-container *ngIf="!isLowerPrice || !isLowestPriceOpaque; else tplLowestPrice">
          <ng-container *ngIf="isCustomize; else tmplFeatureLg">
            <div class="flex items-center flex-wrap gap-[4px]">
              <ng-container *ngFor="let item of guaranteeFeatures">
                <div class="text-[12px] font-light leading-[140%] text-button-normal-color bg-button-normal-background-color rounded-[32px] py-[4px] px-[8px] flex items-center gap-[4px]">
                  <div class="font-medium" *ngIf="item?.matched && item.quantity > 1">{{ item?.quantity }}x</div>
                  <div class="cursor-help" appFeatureDescriptionTooltip [isDisabled]="isMobile" [featureName]="item?.name" [featureCode]="item?.code" [featureDescription]="item?.description">
                    {{ item?.name }}
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- Room rate desktop -->
      <div class="mt-[16px] pt-[16px] sm:pt-[12px] border-t border-border-color sm:hidden">
        <div class="flex items-center gap-[8px]">
          <div class="text-[14px] font-medium leading-[140%] text-primary-color flex-1">{{ 'ROOM_RATE' | translate | async }}</div>
          <div class="text-[14px] font-medium leading-[140%] text-primary-color flex-1 text-center">
            {{ totalNights }} {{ totalNights > 1 ? ('NIGHTS' | translate | async) : ('NIGHT' | translate | async) }}
          </div>
          <div class="text-[14px] font-medium leading-[140%] text-primary-color flex-1 text-right">
            {{ reservation?.totalAccommodationAmount | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2' }}
          </div>
        </div>
        <div class="flex items-center gap-[8px] mt-[4px]">
          <div class="flex-1" appCustomTooltip [tooltipMessage]="reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name" [isDisabled]="reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name?.length < 13">
            <div class="text-[12px] font-normal leading-[24px] line-clamp-1 text-button-normal-color bg-button-normal-background-color h-[24px] rounded-[100px] px-[24px] w-fit">
              {{ reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name }}
            </div>
          </div>
          <div class="text-[12px] font-light leading-[140%] text-primary-color flex-1 text-center">1 {{ 'NIGHT' | translate | async }}</div>
          <div class="text-[12px] font-light leading-[140%] text-primary-color flex-1 text-right">
            {{ reservation?.totalAccommodationAmount / totalNights | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2' }}
          </div>
        </div>
      </div>

      <!-- Room rate mobile -->
      <div class="mt-[16px] pt-[16px] sm:pt-[12px] border-t border-border-color hidden sm:block">
        <div class="flex items-center justify-between">
          <div class="text-[14px] font-medium leading-[140%] text-primary-color flex-1">{{ 'ROOM_RATE' | translate | async }}</div>
          <div class="text-[14px] font-medium leading-[140%] text-primary-color text-end">
            {{ reservation?.totalAccommodationAmount | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2' }}/ {{ totalNights }}
            {{ totalNights > 1 ? ('NIGHTS' | translate | async) : ('NIGHT' | translate | async) }}
          </div>
        </div>
        <div class="flex items-center justify-between mt-[4px]">
          <div class="flex-1">
            <div class="text-[12px] font-normal leading-[24px] line-clamp-1 text-button-normal-color bg-button-normal-background-color h-[24px] rounded-[100px] px-[24px] w-fit">
              {{ reservation?.rfc?.rfcRatePlanList[0]?.ratePlan?.name }}
            </div>
          </div>
          <div class="text-[12px] font-light leading-[140%] text-primary-color text-end">
            {{ reservation?.totalAccommodationAmount / totalNights | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2' }}/
            {{ 'NIGHT' | translate | async }}
          </div>
        </div>
      </div>

      <!-- Extra service -->
      <ng-container *ngIf="reservation?.amenityList?.length > 0">
        <div class="mt-[16px] pt-[16px] border-t border-border-color">
          <div class="flex items-center justify-between mb-[4px]">
            <div class="text-[14px] font-medium leading-[140%] text-primary-color">
              {{ 'HOTEL_SERVICES_AND_ANCILLARIES' | translate | async }}
            </div>
            <ng-container *ngIf="(reservation?.amenityList | countExtraServices: false : serviceIncluded) > 0">
              <div class="text-[14px] font-medium leading-[140%] text-primary-color">
                {{ reservation?.amenityList | totalAmenity | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2' }}
              </div>
            </ng-container>
          </div>
          <div class="text-[14px] font-medium leading-[140%] text-primary-color mb-[4px]">
            <div class="">
              <ng-container *ngFor="let item of reservation?.amenityList">
                <ng-container *ngIf="item?.pricingUnit === pricingUnit.Person || item?.pricingUnit === pricingUnit.PerPersonPerRoom; else tplShowAmenityWithoutAge">
                  <ng-container *ngIf="!serviceIncluded?.includes(item?.code) && !item?.isIncluded; else tmplIncludedService">
                    <div class="">
                      <ng-container *ngFor="let amenityReservation of item?.amenityReservationList">
                        <div class="flex items-center justify-between">
                          <div class="font-medium text-[12px] leading-[140%] text-primary-color flex items-center gap-[4px] line-clamp-1">
                            <span class="whitespace-nowrap font-medium">{{ amenityReservation?.count }} x</span>
                            <span class="!font-light"
                              >{{ item?.name }} ({{
                                amenityReservation?.ageCategoryCode === 'DEFAULT'
                                  ? ('ADULT' | translate | async)
                                  : (reservation?.childrenAgeList | getChildrenAge: amenityReservation?.ageCategory : ('CHILD' | translate | async) : ('YEARS' | translate | async))
                              }}
                              )</span
                            >
                          </div>
                          <div class="font-light text-[12px] leading-[140%] text-primary-color">
                            {{
                              !serviceIncluded?.includes(item?.code)
                                ? (amenityReservation?.totalPrice | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2')
                                : ('INCLUDED' | translate | async)
                            }}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>

                  <!-- included amenity -->
                  <ng-template #tmplIncludedService>
                    <div class="flex items-center justify-between">
                      <div class="font-medium text-[12px] leading-[140%] text-primary-color flex items-center gap-[4px] line-clamp-1">
                        <span class="whitespace-nowrap font-medium"> {{ item?.amenityReservationList | getAmenityCountByAge }} x</span>
                        <span class="!font-light">{{ item?.name }} ({{ 'ADULT' | translate | async }})</span>
                      </div>
                      <div class="font-light text-[12px] leading-[140%] text-primary-color">{{ 'INCLUDED' | translate | async }}</div>
                    </div>
                    <ng-container *ngIf="reservation?.childrenAgeList?.length > 0">
                      <div class="flex items-center justify-between">
                        <div class="font-medium text-[12px] leading-[140%] text-primary-color flex items-center gap-[4px] line-clamp-1">
                          <span class="whitespace-nowrap font-medium"> {{ item?.amenityReservationList | getAmenityCountByAge: false }} x</span>
                          <span class="!font-light"
                            >{{ item?.name }} ({{ reservation?.childrenAgeList | getChildrenAgeIncluded: ('YEARS' | translate | async) : ('CHILD' | translate | async) }} )</span
                          >
                        </div>
                        <div class="font-light text-[12px] leading-[140%] text-primary-color">{{ 'INCLUDED' | translate | async }}</div>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-container>

                <!-- amenity list without age -->
                <ng-template #tplShowAmenityWithoutAge>
                  <div class="flex items-center justify-between">
                    <div class="font-medium text-[12px] leading-[140%] text-primary-color flex items-center gap-[4px] line-clamp-1">
                      <span class="whitespace-nowrap font-medium">{{ item?.count * item?.calculatedRateList?.length }} x</span>
                      <span class="!font-light">{{ item?.name }}</span>
                    </div>
                    <div class="font-light text-[12px] leading-[140%] text-primary-color">
                      {{ !item?.isIncluded ? (item?.totalSellingRate | currencyRate: currencyRate | myCurrency: currencyCode : 'symbol' : '1.2') : ('INCLUDED' | translate | async) }}
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="flex items-center justify-center mt-[12px] gap-[4px] cursor-pointer" *ngIf="toggleFeature" (click)="toggleFeature = !toggleFeature">
        <mat-icon class="!w-auto !h-auto text-[18px] text-primary-color">{{ !toggleFeature ? 'expand_more' : 'expand_less' }}</mat-icon>
        <div class="text-[12px] font-light leading-[140%] text-primary-color cursor-pointer">{{ toggleFeature ? ('HIDE_DETAILS' | translate | async) : ('SHOW_DETAILS' | translate | async) }}</div>
      </div>
    </ng-template>
  </mat-expansion-panel>
</div>

<ng-template #tmplFeatureLg>
  <div class="flex items-center flex-wrap gap-[4px]">
    <ng-container *ngFor="let item of reservation?.rfc?.retailFeatureList">
      <div class="text-[12px] font-light leading-[140%] text-button-normal-color bg-button-normal-background-color rounded-[32px] py-[4px] px-[8px] flex items-center gap-[4px]">
        <div class="font-medium" *ngIf="item?.quantity > 1">{{ item?.quantity }}x</div>
        <div class="cursor-help" appFeatureDescriptionTooltip [isDisabled]="isMobile" [featureName]="item?.name" [featureCode]="item?.code" [featureDescription]="item?.description">
          {{ item?.name }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #tplLowestPrice>
  <div class="">
    <div class="">{{ 'NO_PREFERENCES_OR_FEATURES_GUARANTEED' | translate | async }}</div>
    <div class="">{{ 'YOUR_ROOM_WILL_BE_ASSIGNED_AS_PER_AVAILABILITY' | translate | async }}</div>
  </div>
</ng-template>
