.lg-popup-scroll {
    @media (min-width: 1024px) and (max-width: 1800px) {
      height: 80vh;
    }
  }
  
  .lg-body-scroll {
    @media (min-width: 1024px) and (max-width: 1800px) {
      height: 33vh;
    }
  }
  
  