<!--<div [formGroup]="rf">-->
<!--  <div class="flex items-start justify-between">-->
<!--    <div class="">-->
<!--      <div class='text-[17px] font-medium leading-[140%] text-primary-color'>-->
<!--        {{'BOOKER_INFORMATION' | translate | async}}-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <app-checkbox-c-->
<!--          formControlName="bookForAnother"-->
<!--        >-->
<!--          <div class="text-[14px] font-normal leading-[21px] text-primary-color">{{'BOOK_FOR_SOMEONE_ELSE' | translate | async}}</div>-->
<!--        </app-checkbox-c>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="cursor-pointer" (click)="expansionPanel?.toggle()">-->
<!--      <mat-icon class="text-primary-color">{{expansionPanel?._getExpandedState() === 'expanded' ? 'expand_less' : 'expand_more'}}</mat-icon>-->
<!--    </div>-->
<!--  </div>-->

<!--  <mat-expansion-panel #expansionPanel [expanded]="!rf?.get('bookForAnother')?.value">-->
<!--    <div class='flex items-center gap-[12px] mb-[12px] mt-[16px] sm:flex-col'>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div-->
<!--          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'FIRST_NAME' | translate | async}}-->
<!--          <span-->
<!--            class='text-field-required'>*</span></div>-->
<!--        <div class=''>-->
<!--          <app-input-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            [isRequired]='true'-->
<!--            [control]="rf?.get('firstName')"-->
<!--            formControlName='firstName'-->
<!--            type='text'-->
<!--          >-->
<!--            <app-form-error *ngIf="rf?.get('firstName').hasError('required') && rf?.get('firstName').touched">-->
<!--              {{'FIRST_NAME' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--            </app-form-error>-->
<!--          </app-input>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div-->
<!--          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'LAST_NAME' | translate | async}}-->
<!--          <span-->
<!--            class='text-field-required'>*</span></div>-->
<!--        <div class=''>-->
<!--          <app-input-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            [isRequired]='true'-->
<!--            [control]="rf?.get('lastName')"-->
<!--            formControlName='lastName'-->
<!--            type='text'-->
<!--          >-->
<!--            <app-form-error *ngIf="rf?.get('lastName').hasError('required') && rf?.get('lastName').touched">-->
<!--              {{'LAST_NAME' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--            </app-form-error>-->
<!--          </app-input>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class='flex items-center gap-[12px] mb-[12px] sm:flex-col'>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>-->
<!--          {{'EMAIL' | translate | async}}-->
<!--        </div>-->
<!--        <div-->
<!--          class="text-[17px] font-medium leading-[140%] text-primary-color bg-booker-fill px-[12px] h-[40px] rounded-[12px] flex items-center">-->
<!--          {{booker?.emailAddress}}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div-->
<!--          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'PHONE_NUMBER' | translate | async}}-->
<!--          <span-->
<!--            class='text-field-required'>*</span></div>-->
<!--        <div class=''>-->
<!--          <app-input-custom-phone-number-->
<!--            [allItems]='countriesPhone$ | async'-->
<!--            [isRequired]='true'-->
<!--            [control]="rf?.get('phoneNumber')"-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            formControlName='phoneNumber'-->
<!--          >-->
<!--            <app-form-error *ngIf="rf?.get('phoneNumber').hasError('required') && rf?.get('phoneNumber').touched">-->
<!--              {{'PHONE_NUMBER' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--            </app-form-error>-->
<!--            <app-form-error-->
<!--              *ngIf="rf?.get('phoneNumber').hasError('phoneNumberRequired') && rf?.get('phoneNumber').touched">-->
<!--              {{'PHONE_NUMBER' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--            </app-form-error>-->
<!--          </app-input-custom-phone-number>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class='mb-[12px]'>-->
<!--      <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'ADDRESS' | translate | async}}-->
<!--        <span-->
<!--          *ngIf='mandatoryAddressMainGuest?.address'-->
<!--          class='text-field-required'>*</span></div>-->
<!--      <div class=''>-->
<!--        <app-input-->
<!--          [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--          [isRequired]='mandatoryAddressMainGuest?.address'-->
<!--          [control]="rf?.get('address')"-->
<!--          formControlName='address'-->
<!--          type='text'-->
<!--        >-->
<!--          <app-form-error *ngIf="rf?.get('address').hasError('required') && rf?.get('address').touched">-->
<!--            {{'ADDRESS' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--          </app-form-error>-->
<!--        </app-input>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class='flex items-center gap-[12px] mb-[12px] sm:flex-col'>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'CITY' | translate | async}}-->
<!--          <span-->
<!--            *ngIf='mandatoryAddressMainGuest?.city'-->
<!--            class='text-field-required'>*</span></div>-->
<!--        <div class=''>-->
<!--          <app-input-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            [isRequired]='true'-->
<!--            [control]="rf?.get('city')"-->
<!--            formControlName='city'-->
<!--            type='text'-->
<!--          >-->
<!--            <app-form-error *ngIf="rf?.get('city').hasError('required') && rf?.get('city').touched">-->
<!--              {{'CITY' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--            </app-form-error>-->
<!--          </app-input>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div-->
<!--          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'STATE' | translate | async}}</div>-->
<!--        <div class=''>-->
<!--          <app-input-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            [control]="rf?.get('state')"-->
<!--            formControlName='state'-->
<!--            type='text'-->
<!--          ></app-input>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class='flex items-center gap-[12px] mb-[12px] sm:flex-col'>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div-->
<!--          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'COUNTRY' | translate | async}}</div>-->
<!--        <div class=''>-->
<!--          <app-select-single-control-country-->
<!--            [allItems]='countriesParse$ | async'-->
<!--            [control]="rf?.get('country')"-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            formControlName='country'-->
<!--          >-->
<!--          </app-select-single-control-country>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class='flex-1 sm:w-full'>-->
<!--        <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>-->
<!--          {{'POSTAL_CODE' | translate | async}}-->
<!--          <span-->
<!--            *ngIf='mandatoryAddressMainGuest?.postalCode'-->
<!--            class='text-field-required'>*</span>-->
<!--        </div>-->
<!--        <div class=''>-->
<!--          <app-input-->
<!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
<!--            [control]="rf?.get('postalCode')"-->
<!--            formControlName='postalCode'-->
<!--            type='text'-->
<!--          >-->
<!--            <app-form-error *ngIf="rf?.get('postalCode').hasError('required') && rf?.get('postalCode').touched">-->
<!--              {{'POSTAL_CODE' | translate | async}} {{'IS_REQUIRED' | translate | async}}-->
<!--            </app-form-error>-->
<!--          </app-input>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-expansion-panel>-->
<!--</div>-->


<div [formGroup]="rf">
  <div class="flex items-start justify-between">
    <div class="">
      <div class='text-[17px] font-medium leading-[140%] text-primary-color'>
        {{(rf?.get('bookForAnother')?.value ? 'BOOKER_INFORMATION' : 'GUEST_INFORMATION') | translate | async}}
      </div>
      <div class="">
        <app-checkbox-c
          formControlName="bookForAnother"
        >
          <div class="text-[14px] font-normal leading-[21px] text-primary-color">{{'BOOK_FOR_SOMEONE_ELSE' | translate | async}}</div>
        </app-checkbox-c>
      </div>
    </div>
    <div class="cursor-pointer" (click)="expansionPanel?.toggle()">
      <mat-icon class="text-primary-color">{{expansionPanel?._getExpandedState() === 'expanded' ? 'expand_less' : 'expand_more'}}</mat-icon>
    </div>
  </div>

  <mat-expansion-panel #expansionPanel [expanded]="true">
    <div class='flex items-center gap-[12px] mb-[12px] mt-[16px] sm:flex-col'>
      <div class='flex-1 sm:w-full'>
        <div
          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'FIRST_NAME' | translate | async}}
          <span
            class='text-field-required'>*</span></div>
        <div class=''>
          <app-input
            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
            [isRequired]='true'
            [control]="rf?.get('firstName')"
            formControlName='firstName'
            type='text'
          >
            <app-form-error *ngIf="rf?.get('firstName').hasError('required') && rf?.get('firstName').touched">
              {{'FIRST_NAME' | translate | async}} {{'IS_REQUIRED' | translate | async}}
            </app-form-error>
          </app-input>
        </div>
      </div>
      <div class='flex-1 sm:w-full'>
        <div
          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'LAST_NAME' | translate | async}}
          <span
            class='text-field-required'>*</span></div>
        <div class=''>
          <app-input
            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
            [isRequired]='true'
            [control]="rf?.get('lastName')"
            formControlName='lastName'
            type='text'
          >
            <app-form-error *ngIf="rf?.get('lastName').hasError('required') && rf?.get('lastName').touched">
              {{'LAST_NAME' | translate | async}} {{'IS_REQUIRED' | translate | async}}
            </app-form-error>
          </app-input>
        </div>
      </div>
    </div>

    <div class='flex items-center gap-[12px] mb-[12px] sm:flex-col'>
      <div class='flex-1 sm:w-full'>
        <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>
          {{'EMAIL' | translate | async}}
        </div>
        <div
          class="text-[17px] font-medium leading-[140%] text-primary-color bg-background-primary-color px-[12px] h-[40px] rounded-[12px] flex items-center">
          {{booker?.emailAddress}}
        </div>
      </div>
      <div class='flex-1 sm:w-full'>
        <div
          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'PHONE_NUMBER' | translate | async}}
          <span
            class='text-field-required'>*</span></div>
        <div class=''>
          <app-input-custom-phone-number
            [allItems]='countriesPhone$ | async'
            [isRequired]='true'
            [metadata]="true"
            [control]="rf?.get('phoneNumber')"
            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
            formControlName='phoneNumber'
          >
            <app-form-error *ngIf="rf?.get('phoneNumber').hasError('required') && rf?.get('phoneNumber').touched">
              {{'PHONE_NUMBER' | translate | async}} {{'IS_REQUIRED' | translate | async}}
            </app-form-error>
            <app-form-error
              *ngIf="rf?.get('phoneNumber').hasError('phoneNumberRequired') && rf?.get('phoneNumber').touched">
              {{'PHONE_NUMBER' | translate | async}} {{'IS_REQUIRED' | translate | async}}
            </app-form-error>
          </app-input-custom-phone-number>
        </div>
      </div>
    </div>

    <div class='mb-[12px]'>
      <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'ADDRESS' | translate | async}}
        <span
          *ngIf='mandatoryAddressMainGuest?.address'
          class='text-field-required'>*</span></div>
      <div class=''>
        <app-input
          [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
          [isRequired]='mandatoryAddressMainGuest?.address'
          [control]="rf?.get('address')"
          formControlName='address'
          type='text'
          [maxLength]="80"
        >
          <app-form-error *ngIf="rf?.get('address').hasError('required') && rf?.get('address').touched">
            {{'ADDRESS' | translate | async}} {{'IS_REQUIRED' | translate | async}}
          </app-form-error>
        </app-input>
      </div>
    </div>
    <div class='flex items-center gap-[12px] mb-[12px] sm:flex-col'>
      <div class='flex-1 sm:w-full'>
        <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'CITY' | translate | async}}
          <span
            *ngIf='mandatoryAddressMainGuest?.city'
            class='text-field-required'>*</span></div>
        <div class=''>
          <app-input
            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
            [isRequired]='true'
            [control]="rf?.get('city')"
            formControlName='city'
            type='text'
            [maxLength]="40"
          >
            <app-form-error *ngIf="rf?.get('city').hasError('required') && rf?.get('city').touched">
              {{'CITY' | translate | async}} {{'IS_REQUIRED' | translate | async}}
            </app-form-error>
          </app-input>
        </div>
      </div>
      <!--      <div class='flex-1 sm:w-full'>-->
      <!--        <div-->
      <!--          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'STATE' | translate | async}}</div>-->
      <!--        <div class=''>-->
      <!--          <app-input-->
      <!--            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"-->
      <!--            [control]="rf?.get('state')"-->
      <!--            formControlName='state'-->
      <!--            type='text'-->
      <!--          ></app-input>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
    <div class='flex items-center gap-[12px] mb-[12px] sm:flex-col'>
      <div class='flex-1 sm:w-full'>
        <div
          class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>{{'COUNTRY' | translate | async}}</div>
        <div class=''>
          <app-select-single-control-country
            [allItems]='countriesParse$ | async'
            [control]="rf?.get('country')"
            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
            formControlName='country'
          >
          </app-select-single-control-country>
        </div>
      </div>
      <div class='flex-1 sm:w-full'>
        <div class='text-[14px] font-medium leading-[150%] text-primary-color mb-[6px]'>
          {{'POSTAL_CODE' | translate | async}}
          <span
            *ngIf='mandatoryAddressMainGuest?.postalCode'
            class='text-field-required'>*</span>
        </div>
        <div class=''>
          <app-input
            [customClass]="'!h-[40px] !rounded-[10px] border border-border-color text-primary-color'"
            [control]="rf?.get('postalCode')"
            formControlName='postalCode'
            type='text'
            [maxLength]="15"
          >
            <app-form-error *ngIf="rf?.get('postalCode').hasError('required') && rf?.get('postalCode').touched">
              {{'POSTAL_CODE' | translate | async}} {{'IS_REQUIRED' | translate | async}}
            </app-form-error>
          </app-input>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<div class='my-[28px] border-b border-border-color sm:my-[16px]'></div>
