{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "requirePragma": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular",
        "printWidth": 200
      }
    },
    {
      "files": ["*.component.html"],
      "options": {
        "parser": "angular",
        "printWidth": 200
      }
    }
  ]
}
