@if (summary$ | async; as summary) {
  <div class="max-w-[1200px] mx-auto min-h-[56px] bg-entry-bar-background-color rounded-[16px] flex items-center justify-between border border-solid border-hotel-primary-color">
    <div class="flex-1 flex items-center sm:flex-col sm:items-start sm:p-2 sm:pl-4 sm:text-[12px]">
      <button
        class="flex items-center min-w-[30%] max-w-[34%] cursor-pointer ps-[20px] py-[8px] h-full"
        [ngClass]="{ '!bg-search-bar-active shadow-active rounded-[16px] transition-shadow duration-500': (activeSection$ | async) === searchBarOverlayState.Traveler }"
        appSearchBarOverlay
        #travelOrigin
        [positions]="connectedPosition"
        [component]="travelOverlay"
        [origin]="travelOrigin"
        [state]="searchBarOverlayState.Traveler"
        [data]="{
          defaultPax: +(defaultPax$ | async)
        }"
      >
        <app-option-units-info class="hidden sm:block" [item]="unitInfo$()" [showText]="false"></app-option-units-info>
        <div class="flex sm:hidden items-end w-full gap-[12px] pe-4 lg:pe-2 border-e border-hotel-primary-color" [ngClass]="{ '!border-none': (activeSection$ | async) }">
          <div class="flex items-center">
            <img loading="lazy" src="assets/icons/guests.svg" alt="people" width="28" height="28" appFilterSvg [color]="textColor$ | async" />
          </div>
          <div class="">
            <div class="text-xs font-normal text-primary-color mb-[4px] rtl:text-right ltr:text-left">
              {{ 'BOOKING_DETAILS' | translate | async }}
            </div>
            <app-room-summary-label [roomSummary]="summary" [showTotalRoom]="true" [isCapitalizeAllValue]="true" [showForLabel]="false" labelClass="text-base leading-[120%] text-primary-color" />
          </div>
        </div>
      </button>
      <button
        class="flex-1 flex items-center cursor-pointer py-[8px] h-full sm:p-0"
        [ngClass]="{ '!bg-search-bar-active shadow-active rounded-[16px] transition-shadow duration-500': (activeSection$ | async) === searchBarOverlayState.Calendar }"
        appSearchBarOverlay
        #calendarOrigin
        [positions]="connectedPosition"
        [component]="calendarOverlay"
        [origin]="calendarOrigin"
        [state]="searchBarOverlayState.Calendar"
        (valueChange)="onSearch()"
      >
        <div class="hidden sm:block">
          {{ summary.arrival | dateWithLocale: (locale$ | async) : 'DD MMM yyyy' : false }} - {{ summary.departure | dateWithLocale: (locale$ | async) : 'DD MMM yyyy' : false }}
        </div>
        <div
          class="flex sm:hidden items-end gap-[12px] w-full flex-1 border-e border-hotel-primary-color px-[24px] lg:px-[8px]"
          [ngClass]="{ '!border-none': (activeSection$ | async) === searchBarOverlayState.Calendar }"
        >
          <div class="flex items-center">
            <img loading="lazy" [src]="'assets/icons/travel-date.svg'" alt="travel date" width="28" height="28" appFilterSvg [color]="textColor$ | async" />
          </div>
          <div class="flex items-center justify-between w-full gap-[12px]">
            <div class="">
              <div class="text-xs font-normal text-primary-color mb-[4px] rtl:text-right ltr:text-left">
                {{ 'CHECK_IN' | translate | async }}
              </div>
              <div class="text-[16px] leading-[120%] text-primary-color">
                <ng-container *ngIf="summary.arrival; else tplCheckIn">
                  {{ summary.arrival | dateWithLocale: (locale$ | async) : 'DD MMM yyyy' : false }}
                </ng-container>
              </div>
            </div>
            <div class="flex items-center w-[18px] h-[18px]">
              <img loading="lazy" [src]="'assets/icons/arrow-right.svg'" alt="arrow" width="18" height="18" appFilterSvg class="dir-mat-icon" [color]="textColor$ | async" />
            </div>
            <div class="">
              <div class="text-xs font-normal text-primary-color mb-[4px] rtl:text-left ltr:text-right">
                {{ 'CHECK_OUT' | translate | async }}
              </div>
              <div class="text-[16px] leading-[120%] text-primary-color">
                <ng-container *ngIf="summary.departure; else tplCheckOut">
                  {{ summary.departure | dateWithLocale: (locale$ | async) : 'DD MMM yyyy' : false }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </button>
      <div class="flex items-center w-[20%] py-[8px] h-full sm:p-0">
        <div class="hidden sm:block">
          <app-input
            [placeHolder]="'PROMOTION_CODE' | translate | async"
            [customClass]="'!border-0 !bg-entry-bar-background-color !h-[14px] !px-0 !w-40'"
            [type]="'text'"
            [formControl]="promoCtrl"
            (blur)="onBlur()"
            (enter)="onBlur()"
          ></app-input>
        </div>
        <div class="flex items-end gap-[12px] w-full ps-[24px] lg:px-[8px] sm:hidden">
          <div class="flex items-center">
            <img loading="lazy" [src]="'assets/icons/promotion.svg'" alt="promotion" width="28" height="28" appFilterSvg [color]="textColor$ | async" />
          </div>
          <div class="">
            <ng-container *ngIf="isOpenInputMode; else tplDefault">
              <div class="flex items-center bg-entry-bar-background-color gap-[8px] px-[8px] rounded-[8px] h-[28px]">
                <div class="text-primary-color text-[12px] font-medium leading-[140%] line-clamp-1">{{ summary.promoCode }}</div>
                <div class="flex items-center justify-center">
                  <mat-icon class="text-[20px] !w-auto !h-auto cursor-pointer" (click)="clearPromo()">clear</mat-icon>
                </div>
              </div>
            </ng-container>
            <ng-template #tplDefault>
              <div class="text-xs font-normal text-primary-color mb-[4px] rtl:text-right ltr:text-left">
                {{ 'PROMO' | translate | async }}
              </div>
              <div class="text-base text-primary-color">
                <app-input
                  [placeHolder]="'PROMOTION_CODE' | translate | async"
                  [customClass]="'!border-0 !bg-entry-bar-background-color !h-[20px] !px-0'"
                  [type]="'text'"
                  [formControl]="promoCtrl"
                  (blur)="onBlur()"
                  (enter)="onBlur()"
                ></app-input>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="pe-[8px] flex">
      <button id="search-btn" (click)="onSearch()" [disabled]="!summary.arrival || !summary.departure">
        <div
          [ngClass]="{ 'opacity-50 !cursor-not-allowed': !summary.arrival || !summary.departure, 'search-btn': isSearchChanged() && isContentInitted }"
          class="relative flex items-center sm:hidden gap-[8px] text-button-normal-color bg-button-normal-background-color h-[40px] px-[24px] rounded-[8px] hover:!opacity-80 overflow-hidden"
        >
          <div class="flex items-center">
            <img loading="lazy" [src]="'assets/icons/search.svg'" alt="search" width="16" height="16" appFilterSvg [color]="buttonTextColor$ | async" />
          </div>
          <div class="text-[14px] font-medium leading-[140%] text-button-normal-color">{{ (isFeatureChanged() && selectedFeatures().length ? 'FIND_MATCH' : 'SEARCH') | translate | async }}</div>
        </div>
      </button>
      <button
        (click)="onSearch()"
        [disabled]="!summary.arrival || !summary.departure"
        [ngClass]="{ 'opacity-50 !cursor-not-allowed': !summary.arrival || !summary.departure }"
        class="hidden sm:flex w-[36px] h-[36px] rounded-[100px] items-center justify-center gap-[8px] text-button-normal-color bg-button-normal-background-color"
      >
        <img loading="lazy" [src]="'assets/icons/search.svg'" alt="search" width="16" height="16" appFilterSvg [color]="buttonTextColor$ | async" />
      </button>
    </div>
  </div>
}

<ng-template #tplCheckIn>{{ 'CHECK_IN_DATE' | translate | async }}</ng-template>
<ng-template #tplCheckOut>{{ 'CHECK_OUT_DATE' | translate | async }}</ng-template>
