::ng-deep app-input {
  input[type='text'] {
    background-color: transparent;
    color: var(--color-text-primary);
    font-weight: 500;
  }

  ::placeholder {
    color: var(--color-text-primary);
    font-weight: 500;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: var(--color-text-primary);
    font-weight: 500;
  }

  ::-ms-input-placeholder {
    color: var(--color-text-primary);
    font-weight: 500;
  }
}

.search-btn {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: white;
    opacity: 0.3;
    animation: flash infinite 1.5s;
    transform: skew(-20deg);
  }
}

@keyframes flash {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}
