:host {
  .thumb-carousel {
    ::ng-deep {
      margin: unset !important;
      width: 100%;
      height: 100%;

      .swiper-slide {
        width: 160px;
      }

      .thumb-image {
        width: 100%;
        height: 91px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 9px;

        &.active {
          height: 100px;
          border: 2px solid var(--color-primary);
          margin-top: 0 !important;
        }
      }
    }
  }

  .thumbnail-list {
    position: relative;
  }

  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 15;
    background: rgba(0, 0, 0, 0.4);
    width: 32px;
    height: 32px;
    border-radius: 100px;

    &:hover {
      background-color: #000000;
    }

    .mat-icon {
      width: auto;
      height: auto;
      color: #ffffff;
    }

    &__left {
      left: 0;
    }

    &__right {
      right: 0;
    }
  }

  .index {
    background: rgba(0, 0, 0, 0.32);
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 19.6px;
  }
}
