<div class="grid grid-cols-3 gap-[16px] mb-[56px] sm:grid-cols-1 md:grid-cols-2">
  <ng-container *ngFor="let i of items">
    <div class="col-span-1 rounded-[16px] overflow-hidden">
      <div class="ln h-[220px]"></div>
      <div class="p-[16px] bg-skeleton-loading-fill bx">
        <div class="ln rounded-[8px] h-[24px] mb-[12px]"></div>
        <div class="ln rounded-[8px] w-[120px] h-[17px] mb-[12px]"></div>
        <div class="ln rounded-[8px] h-[17px] mb-[4px]"></div>
        <div class="ln rounded-[8px] h-[17px] mb-[42px]"></div>
        <div class="flex justify-between items-end">
          <div class="ln rounded-[8px] h-[36px] w-[137px]"></div>
          <div class="ln rounded-[8px] h-[28px] w-[137px]"></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
