<div class="h-[570px] bg-skeleton-loading-fill rounded-[16px] px-[16px]">
  <div class="py-[12px]">
    <div class="ln rounded-[8px] w-[80%] h-[17px] mx-auto"></div>
    <div class="ln rounded-[8px] w-[220px] h-[17px] mx-auto mt-[12px]"></div>
    <div class="ln rounded-[8px] w-full h-[60px] mx-auto mt-[12px]"></div>
    <div class="ln rounded-[8px] w-full h-[120px] mx-auto mt-[12px]"></div>

    <div class="flex items-center justify-between mt-[12px]">
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
    </div>

    <div class="flex items-center justify-between mt-[12px]">
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
    </div>

    <div class="flex items-center justify-between mt-[12px]">
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
    </div>

    <div class="flex items-center justify-between mt-[12px]">
      <div class="ln rounded-[8px] w-[180px] h-[30px]"></div>
      <div class="ln rounded-[8px] w-[180px] h-[30px]"></div>
    </div>

    <div class="flex items-center justify-between mt-[12px]">
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
      <div class="ln rounded-[8px] w-[180px] h-[17px]"></div>
    </div>

    <div class="ln rounded-[8px] w-full h-[120px] mx-auto mt-[12px]"></div>
  </div>
</div>
