<button
  class="h-[29px] rounded-[8px] border border-solid border-hotel-primary-color text-[12px] font-normal leading-[140%] text-primary-color relative"
  [ngClass]="{ '!text-error-color !border-error-color': value === null }"
  [class]="customClass"
  (click)="openDropdown(selectElem)"
>
  <div class="flex items-center gap-[4px] h-full px-[8px]">
    <div class="">
      {{ value !== null ? value + ' ' + ((value > 1 ? 'YEARS' : 'YEAR') | translate | async) : ('AGE_NEEDED' | translate | async) }}
    </div>
    <mat-icon class="!w-auto !h-auto text-[14px]">keyboard_arrow_down</mat-icon>
  </div>

  <mat-select
    #selectElem
    (valueChange)="updateValue($event)"
    [value]="value"
    class="dropdown-position absolute top-[16px] left-0 right-0 bottom-0"
    disableOptionCentering
    [panelClass]="'!shadow-ml !overflow-hidden !rounded-[6px] !min-w-[100px]'"
    [tabIndex]="-1"
  >
    <div class="overflow-y-auto h-[200px]">
      <mat-option
        *ngFor="let item of ageOptions"
        class="!min-h-[42px] border-b border-solid border-hotel-primary-color text-primary-color bg-popover-background-color hover:!text-button-normal-color hover:!bg-button-normal-background-color"
        [value]="item"
        tabindex="0"
      >
        {{ item }}
      </mat-option>
    </div>
  </mat-select>
</button>
