:host {
  width: 100%;
}

.hexagon {
  width: 100%;
  padding-bottom: 115.47%; /* Padding is calculated as 2 * (sqrt(3)/2 * width) */
  position: absolute;
  background-color: #fff; /* Change the color as needed */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  &.hexagon {
    background: var(--color-configurator-category-hover-background);
  }
}

.category-carousel {
  ::ng-deep {
    margin: unset !important;
    width: 100%;
    height: 100%;
    padding: 10px 10px 0 0;

    .swiper-slide {
      width: 61px;
      height: 61px !important;
    }
  }
}

.feature-item {
  &.selected {

    .name {
      color: var(--color-text-primary);
      font-weight: 500;
    }
  }

  &:not(.selected):hover {
    .item-bg {
      opacity: 0.7;
    }

    .name {
      color: var(--color-text-primary);
      font-weight: 500;
      opacity: 0.7;
    }
  }
}

.scroll-feature {
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 6px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.4;
    cursor: pointer;
  }
}

.overlay {
  position: relative;

  &:before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.6);
  }
}



.text-container {
  min-width: 0;
  white-space: nowrap;
  overflow: visible;
  position: relative;

  span {
    display: inline-block;
  }

  .animate {
    text-align: start;
    position: relative;
    animation: leftright 3s infinite alternate ease-in-out;
  }
}

@keyframes leftright {
  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }
  80%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}
.hexagon-mb {
  width: 100%;
  padding-bottom: 115.47%; /* Padding is calculated as 2 * (sqrt(3)/2 * width) */
  position: absolute;
  background-color: #fff; /* Change the color as needed */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  &.hexagon-mb {
    background: var(--color-configurator-category-default-background);

    &:hover {
      background: var(--color-configurator-category-hover-background);
    }
  }
}
