td {
  &:not(.selected, .not-allow-checkin, .disabled) {
    > div {
      &.hovered {
        background-color: var(--color-calendar-hover-background);
        border-radius: 8px;
      }
    }
  }

  &.not-allow-checkin, &.disabled {
    > div {
      &.hovered {
        background-color: #E9E9E9 !important;
        cursor: not-allowed;
        border-radius: 8px;
      }
    }
  }
}

.violated {
  background-color: #E9E9E9 !important;
  cursor: not-allowed;
  border-radius: 8px;

  div {
    color: #8E8E8E !important;
  }
}

.clear-date-range {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  background: #FFFFFF;
  width: 24px;
  height: 24px;
  z-index: 99;
}
