.gvd-header {
  &-logo {
    max-height: 80px;
  }
}

@media (max-width: 1550px) {
  .gvd-header {
    &-container {
      align-items: center;
    }

    &-logo-container {
      margin-left: 0;
    }

    &-calendar {
      order: 3;
      margin-top: 0;
    }

    &-lang-currency {
      order: 2;
      margin-right: 0;
      margin-top: 0;
      min-width: 30%;
    }
  }
}
