.error-message {
  color: #CC0022;

  span {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;

    @media screen and (max-width: 420px) {
      font-size: 10px;
    }

    mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13px;
      height: 13px;
      margin: 0 5px 0 0;
      font-size: 13px;
    }
  }
}
