.dialog-show-more {
  background-color: #FFFFFF;
  max-width: var(--max-width);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 5px 12px;

  .content {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;

    ::ng-deep {
      .restriction {
        .mat-icon {
          height: auto;
          font-size: 1.2em;
          color: #f9b61a;
        }
      }
    }
  }
}
