.category-carousel {
  ::ng-deep {
    margin: unset !important;
    width: 100%;
    height: 100%;

    .swiper-slide {
      width: 40px;
      @media (min-width: 768px) and (max-width: 1023px) {
        width: 72px;
        height: 65px;
      }

    }

    .swiper-wrapper {
      padding: 5px 0;
    }
  }
}

.animated {
  -webkit-filter: blur(0);
  filter: blur(0); // fix blurry text when using rotation animation
}

.feature-item {
  &.selected {
    .item-bg {
      background-color: var(--color-configurator-category-hover-icon);
      border: 1px solid var(--color-configurator-category-hover-icon);
    }

    .name {
      color: var(--color-text-primary);
      font-weight: 500;
    }
  }

  &:not(.selected):hover {
    .item-bg {
      opacity: 0.7;
    }

    .name {
      color: var(--color-text-primary);
      font-weight: 500;
      opacity: 0.7;
    }
  }
}

.hexagon-mb {
  width: 100%;
  padding-bottom: 115.47%; /* Padding is calculated as 2 * (sqrt(3)/2 * width) */
  position: absolute;
  background-color: #fff; /* Change the color as needed */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  &.hexagon-mb {
    background: var(--color-configurator-category-default-background);

    &:hover {
      background: var(--color-configurator-category-hover-background);
    }
  }
}
