.bg-popover-background-color {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06);
}

.direct-stay-option {
  ::ng-deep app-option-item {
    > div {
      padding-bottom: 0 !important;
    }
  }
}
