:host {
  z-index: 999;
}

.config-fade-in {
  animation: configFadeIn;
  animation-duration: 200ms;
}

.config-fade-out {
  animation: configFadeOut;
  animation-duration: 400ms;
}

@keyframes configFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes configFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.hexagon {
  width: 100%;
  padding-bottom: 115.47%; /* Padding is calculated as 2 * (sqrt(3)/2 * width) */
  position: absolute;
  background-color: #fff; /* Change the color as needed */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  &.hexagon {
    background: var(--color-configurator-category-hover-background);

    &:hover {
      background: var(--color-feature-background);
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.event-label {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 8px;
    background-color: var(--color-button-normal-background);
    filter: brightness(0.7);
    transform: translateY(-8px);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }
}
