<div class="h-[480px] bg-skeleton-loading-fill rounded-[16px] mt-[40px] sm:h-[755px] md:h-[755px]">
  <div class="flex items-center gap-[24px] w-full pe-[16px] mb-[12px] sm:flex-col sm:p-[16px] md:flex-col md:p-[20px]">
    <div class="ln h-[360px] w-[677px] rounded-[8px] sm:w-full md:w-full"></div>
    <div class="w-[calc(100%-677px)] sm:w-full md:w-full">
      <div class="ln rounded-[8px] w-[80%] h-[17px] mb-[12px]"></div>
      <div class="ln rounded-[8px] w-[40%] h-[17px] mb-[16px]"></div>
      <div class="ln rounded-[8px] w-[80%] h-[17px] mb-[12px]"></div>
      <div class="ln rounded-[8px] w-full h-[40px] mb-[12px]"></div>
      <div class="ln rounded-[8px] w-[80%] h-[17px] mb-[12px]"></div>
      <div class="ln rounded-[8px] w-full h-[40px] mb-[12px]"></div>
    </div>
  </div>
  <div class="p-[16px]">
    <div class="ln rounded-[8px] w-[60%] h-[17px] mb-[12px]"></div>
    <div class="flex items-start gap-[12px]">
      <div class="flex-1 ln rounded-[8px] h-[40px]"></div>
      <div class="flex-1 ln rounded-[8px] h-[40px]"></div>
      <div class="flex-1 ln rounded-[8px] h-[40px]"></div>
    </div>
  </div>
</div>
